/* Global properties ======================================================== */
html, body {width:100%; padding:0; margin:0;}

body { 	 
	font: 13px/25px Arial, Helvetica, sans-serif;
	color:#484848;
	font-style:normal;
	background: #fff;
}
.ic {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
/***********************************************************************/
a {text-decoration:none; cursor:pointer;text-decoration:none; }
a:hover {text-decoration:none;}

.button {background:url(../images/button.png) 0 0 no-repeat; color:#000; font-size:24px; line-height:30px; display:inline-block; padding: 2px 0 5px 43px;}
.button:hover {color:#579700;}

.link {color:#d42828; text-decoration:none; }
.link:hover {text-decoration:underline;}

.link-2 {font-family: 'Lato', sans-serif; font-weight:300; font-style:italic; color:#d42828; font-size:20px; line-height:25px; text-decoration:none; }
.link-2:hover {text-decoration:underline;}

.clr-1 { color:#d42828;}

.text-1 {font-weight:normal; color:#000; font-size:60px; line-height:62px;}
.text-1 strong {font-weight:normal; margin-top:-32px; display:block;}
/*.text-2 {font-family: 'Lato', sans-serif; font-weight:300; font-style:italic; color:#484848; font-size:21px; line-height:35px;}*/
.text-2 {font-weight:normal; color:#000; font-size:60px; line-height:62px;}

.text-3 {font-weight:normal; color:#484848; font-size:50px; line-height:60px;}
.text-3 span {color:#d42828;}
.text-4 {font-family: 'Lato', sans-serif; font-weight:300; font-style:italic; color:#484848; font-size:30px; line-height:36px; letter-spacing:-1px;}

h2 { font-size:31px; line-height:40px; color:#000; font-weight:normal; }

ul {margin:0; padding:0;list-style-image:none;}
ul.list-1 li {padding:0px 0 0px 25px; line-height:25px; background:url(../images/marker.png) 0 5px no-repeat;}
ul.list-1 li a {color:#484848;}
ul.list-1 li a:hover {color:#457c00;}

/******************************************************************/
.clear {clear:both; line-height:0; font-size:0; width:100%;}
.wrapper {width:100%; overflow:hidden; position:relative}
.wrap {overflow:hidden; position:relative}
.extra-wrap {overflow:hidden;}
.fleft {float:left;}
.fright {float:right;}
.img-indent {float:left; margin:4px 18px 0px 0;}	
.line-height {line-height:18px;}
.last {margin-right:0px !important; padding-right:0px !important;}

.top {padding-top:37px;}
.top-1 {margin-top:30px;}
.top-2 {margin-top:10px;}
.top-3 {margin-top:12px;}
.top-4 {margin-top:14px;}
.top-5 {margin-top:8px !important;}
.top-6 {margin-top:13px;}
.top-7 {margin-top:34px;}

.left-1 { margin-left:13px;}

.right-1 {margin-right:40px;}

.bot-0 {padding-bottom:0 !important; margin-bottom:0 !important;}

.pad-1 {margin-top:44px; margin-bottom:33px;}

.p1 {padding-bottom:25px;}
.p2 {padding-bottom:13px;}
.p3 {padding-bottom:10px;}
.p4 {padding-bottom:17px;}
.p5 {padding-bottom:12px;}

/*********************************header*************************************/
header{ width:100%; background:url(../images/header-bg.jpg) 0 0 repeat; border-bottom:#fff 1px solid;}
header>div+div {width:100%; background:url(../images/header-bg-shadow.png) 0 bottom repeat-x; padding-bottom:17px;}
header>div+div>div {width:100%; max-width:960px; margin:0 auto; }
h1 {display:inline-block; z-index:1111; margin:16px 0px 0 10px; position:relative; float:left;}

nav {display:inline-block; z-index:1111; position:relative; float:right;}


ul.menu {margin:28px 10px 0px 0px; display:inline-block;}
ul.menu li {float:left; line-height:30px; margin:0px 0px 0px 30px;}
ul.menu li:hover, ul.menu li.current {}
ul.menu li a {font-size:25px; font-weight: 100; line-height:30px; color:#f2f2f2; display:inline-block; }
ul.menu li a:hover , ul.menu li.current a { color:#ff9000; }

/*********************************content*************************************/
#content {width:100%;padding:0px 0px 48px 0; background:#f2f2f2;}

.img-border {border:#fff 5px solid;}

.box-1 {overflow:hidden; padding:40px 0 34px;}
.box-1 img {float:left; margin-top:-3px;}
.box-1 h2 {margin-bottom:8px;}

.box-2 {background: url(../images/line-1.gif) 0 0 repeat-x #f6f6f6;}
.box-2>div {background: url(../images/line-1.gif) 0 bottom repeat-x; padding:15px 0 36px 0; text-align:center;}
.box-2>div p.text-4 {margin-top:-7px;}

.box-3 {overflow:hidden; padding:12px 0 0 0;}
.box-3>div { width:180px; float:left; margin-right:25px;}
.box-3>div a.link-2 {display:inline-block; margin:15px 0 6px 0;}

.box-4 {}
.date {overflow:hidden;}
.date strong {display:inline-block; background:url(../images/date.png) 0 0 no-repeat; width:51px; height:53px; float:left; margin-right:5px;font-weight:normal; color:#000; font-size:40px; line-height:48px; text-align:center;}
.date span {font-family: 'Lato', sans-serif; font-weight:300; font-style:italic; color:#000; font-size:20px; line-height:24px; display:inline-block; overflow:hidden; margin-top:21px;}

.box-5 {overflow:hidden; padding-top:8px;}
.box-5 img {margin:4px 10px 0 0;}

.box-6 {overflow:hidden; margin-top:13px;}
.box-6>div { width:290px; float:left; margin-right:35px;}
.box-6 a.link-2 {display:inline-block; margin-bottom:3px;}

.box-7 {overflow:hidden; margin-top:10px;}
.box-7>div { width:290px; float:left; margin-right:35px;}
.box-7 a.link-2 {display:inline-block; margin-bottom:3px;}

/****************************footer************************/
footer {width:950px; overflow:hidden; margin:0 auto; padding:12px 0px 10px 0; }
footer p {float:left; text-align:left; width:580px;color:#adaaaa;}
.soc-icons {overflow:hidden; float:right; margin:8px 73px 0 0;}
.soc-icons span {display:inline-block; float:left;  color:#000; font-size:20px; line-height:27px; margin-right:17px;}
.soc-icons a {display:inline-block; float:left; margin-right:19px;}
.soc-icons a:hover img {opacity:0.7;}

/**********************form**********************/
.map {/*width:572px;*/ height:400px; margin:12px 0 15px 0;}
/*.map iframe {width:572px; height:400px;}*/

#form { margin: 12px 0 0px 0px; width:300px; }
#form input {border:#fff 1px solid; background:#fff;font: 13px Arial, Helvetica, sans-serif;color:#000; font-style:italic; padding:5px 9px 6px 18px;outline: medium none;width: 271px; height:17px; float:left;}
#form textarea {border:#fff 1px solid; background:#fff;font: 13px Arial, Helvetica, sans-serif;color:#000; font-style:italic;  height: 268px;outline: medium none;overflow: auto;padding: 6px 0px 0px 18px;width: 281px;resize:none;margin:0px 0 0 0;float:left;}
#form label {position:relative;overflow:hidden;display: block;min-height:35px;}
.btns {text-align:left; width:300px; padding-top:15px;}
.btns a {display:inline-block; margin:0 4px 0 20px;}

.text-1, .text-2, h2, .text-3, .date strong, .button, .soc-icons span{
	font-family: 'Bilbo', cursive;
}
ul.menu li a {
	font-family: 'Amatic SC', cursive;
}
.pricing-tables{margin:60px 0 0}.plan{text-align:center;border:1px solid #c5c5c5;border-top:none;margin-bottom:40px!important}.plan+.plan{border-left:none}.plan .header{padding:10px 0;margin:0 -1px}.plan .header h3{display:inline-block;font-size:24px;margin:0;line-height:28px;font-weight:400;letter-spacing:.04em;text-transform:uppercase;text-shadow:0 1px 1px #494949}.plan .header .price{display:inline-block;font-size:16px;padding:10px 0 0;font-weight:400;color:inherit}.plan .header .price span{text-transform:uppercase}.plan ul{margin:0;padding:0;font-size:14px;list-style:none}.plan ul li{padding:12px 0;font-size:13px;line-height:18px;text-shadow:1px 1px 0 #fff}.plan ul li a.pt-popover{color:#000;border-bottom:1px dashed #000;position:relative}.plan ul li a.pt-popover:hover{text-decoration:none}.plan ul li a.pt-popover:after{position:absolute;top:0;left:-15px;font-family:FontAwesome;content:"\f059";color:#DDD;font-size:12px}.best-value.plan ul li{padding:15px 0}.plan .popover{width:250px;font-size:13px;text-align:center;border:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.plan .popover-title{background-color:#e84c3d;color:#fff;text-shadow:none;font-size:13px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.plan .popover-content{font-size:12px}.plan .btn{text-shadow:none}.gray .plan{border-top:1px solid #c5c5c5;background-color:#f1f1f1;-webkit-box-shadow:-1px 0 0 rgba(0,0,0,.15);box-shadow:-1px 0 0 rgba(0,0,0,.15)}.gray .plan .header{background:#fafafa;border:1px solid #cacaca;width:150px;height:150px;margin:15px auto;border-radius:100%}.gray .plan .header h3{color:#e84c3d;display:block;margin-top:30px}.gray .plan .header .price{font-size:24px;padding-top:5px}.gray .plan ul{background:#f1f1f1;border-top:1px solid #e4e4e4}.gray .plan ul li{border-bottom:1px solid #e4e4e4;border-top:1px solid #f8f8f8;color:#333}.white .plan{border-color:#f3f3f3}.white .plan .header{color:#fff;background:#e84c3d}.white .plan .header h3{color:#fff}.white .plan ul{-webkit-box-shadow:0 2px 2px rgba(0,0,0,.1);box-shadow:0 2px 2px rgba(0,0,0,.1);background-color:#fbfbfb}.white .plan ul li{border-bottom:1px solid #f5f5f5}.stripped .header{background:#e84c3d;border:none;-webkit-box-shadow:0 0 60px #cd3c2e inset;-moz-box-shadow:0 0 60px #cd3c2e inset;box-shadow:0 0 60px #cd3c2e inset;color:#fff}.stripped .header h3{color:#fff}.stripped .plan ul{-webkit-box-shadow:0 0 32px 0 #cacaca inset;-moz-box-shadow:0 0 32px 0 #cacaca inset;box-shadow:0 0 32px 0 #cacaca inset;background:#fdfdfd}.stripped .plan ul li{border:1px solid #ececec;border-top:none;color:#666}.stripped .plan ul li:nth-child(even){-webkit-box-shadow:0 0 40px #e4e4e4 inset;-moz-box-shadow:0 0 40px #e4e4e4 inset;box-shadow:0 0 40px #e4e4e4 inset;background:#fff;border-right:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2}@media (min-width:768px){.best-value.plan{top:-30px;position:relative}}

.btn{padding:10px 12px;font-size:14px;line-height:1.42857143;min-width:160px;text-align:center;border-radius:0;text-transform:uppercase;margin:10px 0;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}.btn:active,.btn:focus{outline:0;box-shadow:none}
.btn .fa{vertical-align: middle;}
.btn-default{background-color:#e84c3d;color:#fff!important;border-color:#cd3c2e}.btn-default.active,.btn-default:active,.btn-default:focus,.btn-default:active:focus,.btn-default:active:hover,.btn-default:hover,.open .dropdown-toggle.btn-default{color:#fff!important;background-color:#cd3c2e;border-color:#cd3c2e}.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default{background-color:#cd3c2e;border-color:#cd3c2e;opacity:.7;filter:alpha(opacity=70)}
