---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/"/>
    <title>{{page.title}}</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Bilbo" rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/slider.css">
	<link rel="stylesheet" type="text/css" media="screen" href="css/zerogrid.css">
	<link rel="stylesheet" type="text/css" media="screen" href="css/responsive.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300italic' rel='stylesheet' type='text/css'>

	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="js/html5.js"></script>
    	<link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
	<![endif]-->
</head>
<body>
   <header> 
   		<div class="nav-responsive"><div>MENU</div>
			<select onchange="location=this.value">
				<option></option>
				<option value="/">Home</option>
				
				<option value="services">Services</option>
        <option value="technologies">Technologies</option>
				<!-- <option value="products">Products</option> -->
        <option value="about">About</option>
				<option value="contact">Contact</option>
			</select>
		</div>
       <div> 
          <div>                 	
              <h1><a href="index.html"><img src="images/logo4.png" alt=""></a></h1> 
              <nav>  
                <ul class="menu">
        <li class="{% if page.menu == 'home' %} current {% endif %}"><a href="/">Home</a></li>
        <li class="{% if page.menu == 'services' %} current {% endif %}"><a href="services">Services</a></li>
        <li class="{% if page.menu == 'technologies' %} current {% endif %}"><a href="technologies">Technologies</a></li>
        <!-- <li class="{% if page.menu == 'products' %} current {% endif %}"><a href="products">Products</a></li> -->
        <li class="{% if page.menu == 'about' %} current {% endif %}"><a href="about">About</a></li>
        <li class="{% if page.menu == 'contact' %} current {% endif %}"><a href="contact">Contact</a></li>
                  </ul>
              </nav>
              <div class="clear"></div>
          </div>
      </div>
    </header>  

{{content}}

<!--==============================footer=================================-->
  <footer>
  		<!-- <div class="soc-icons"><span>Follow Us:</span><a href="#"><img src="images/icon-1.jpg" alt=""></a><a href="#"><img src="images/icon-2.jpg" alt=""></a><a href="#"><img src="images/icon-3.jpg" alt=""></a></div> -->

      <p> © 2017 MindKrush<!-- <br> 

      <a rel="nofollow" href="http://www.templatemonster.com/" target="_blank" class="link">Website Template</a>  by TemplateMonster.com <br/> 
      <a rel="nofollow" href="http://www.zerotheme.com/432/free-responsive-html5-css3-website-templates.html" target="_blank" class="link">Responsive Templates</a> by <a href="http://www.zerotheme.com" target="_blank">Zerotheme.com</a> --></p>
  </footer>	

  <script src="css/bootstrap/js/bootstrap.min.js"></script>
      <script src="js/jquery-1.7.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/cufon-yui.js"></script>
    <!-- <script src="js/cufon-replace.js"></script> -->
    <script src="js/Bilbo_400.font.js"></script>
    <script src="js/tms-0.4.1.js"></script>
  <script src="js/css3-mediaqueries.js"></script>
  <script src="https://use.fontawesome.com/648ca1b84b.js"></script>
  <script>
    $(document).ready(function(){           
      $('.slider')._TMS({
        show:0,
        pauseOnHover:true,
        prevBu:false,
        nextBu:false,
        playBu:false,
        duration:800,
        preset:'fade',
        pagination:true,
        pagNums:false,
        slideshow:7000,
        numStatus:false,
        banners:'fade',
        waitBannerAnimation:false,
        progressBar:false
      })    
    });
  </script>
</body>
</html>